
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tianwei Yue-explore</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Distribution of Astraptes Fulgerator Complex Samples</h1>
	<h2><span style="color: #333399;"><strong>Description</strong></span></h2>
	<p>The map below demonstrates the distribution of Astraptes Fulgerator Complex from public data downloaded from <a href="https://sites.google.com/site/fusiontablestalks/astraptes_fulgerator_complex_sample_data.csv">here</a>. The demonstration was achieved through Google Fusion Table.</p>
	<h4><strong><span style="color: #000000;">Detailed Information</span></strong></h4>
	<p>You could find further information about&nbsp;each sample by clicking the marker on the map, then you could find the <strong>picture</strong> of each sample, what <strong>herbivore species</strong> it belongs to, it's <strong>voucher</strong>, and the detailed information below (for example) as well.</p>
	<ul>
	<li><strong>sex:</strong> female</li>
	<li><strong>host plant species:</strong> Senna hayesiana</li>
	<li><strong>host plant family:</strong> Fabaceae</li>
	<li><strong>year:</strong> 2003</li>
	<li><strong>date eclosion:</strong> 7/27/03</li>
	<li><strong>elevation:</strong> 480</li>
	<li><strong>wingspan (mm):</strong> 61</li>
	<li><strong>primary eco:</strong> rain forest</li>
	<li><strong>latitude:</strong> 11.00766</li>
	<li><strong>longitude:</strong> -85.47926</li>
	</ul>
	<h4>Markers</h4>
	<p>I applied different marker icons to distinguish those samples of different windspan. Specifically, I split the samples into 4 subsets with regard to windspan (mm):</p>
	<ul>
	<li>A) 43.0 ~ 43.1 (super-small): yellow</li>
	<li>B) 43.1 ~ 50.0 (small)      : green</li>
	<li>C) 50.0 ~ 60.0 (medium)     : blue</li>
	<li>D) 60.0 ~ 70.0 (large)      : purple</li>
	</ul>
	<p>Sets A) is simply designed to mark the one with smallest windspan for visualization purpose.</p>
	<h2><span style="color: #333399;">Question</span></h2>
	<p>Is there any regional difference on the wingspan of Astraptes Fulgerator Complex? That is to day, by looking at the information provided by the map below, is the length of windspan related to the location (altitude, longtitude) of the Astraptes Fulgerator Complex?</p>
	<p><em>Note: Since this web page provides better visual information than quantitative or statistical information, I chose to ask the question about the visual part.</em></p>
	<h2><span style="color: #333399;">Answer</span></h2>
	<h4>Useful Data&nbsp;</h4>
	<p>Splitting the sample into 4 subsets with regard to the length of windspan and annotating each subset with a single color provide useful information to answer this question. That is to say, <span style="text-decoration: underline;">the annotation is informative</span> for answering this question.</p>
	<h4><span style="color: #000000;">Answer</span></h4>
	<p><span style="text-decoration: underline;">There are some regional differences.&nbsp;That's because all Astraptes Fulgerator Complex with larger windspan&nbsp;(in this dataset), except the one of smallest windspan, are in the&nbsp;east part, and&nbsp;those of small windspan are&nbsp;in the west part, though&nbsp;blue (medium) sets are distributed among the whole region.</span>&nbsp;However, the&nbsp;number of this dataset is too limited to draw&nbsp;any definitive conclusion about whether the difference is significant or negligible basing on this map demonstration.</p>
<iframe width="800" height="500" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col12+from+1ZLrLk31Umaky10ibihyPg76ITfEKujgMX7cTFbWW&amp;viz=MAP&amp;h=false&amp;lat=10.897807866624373&amp;lng=-85.46054162527815&amp;t=1&amp;z=11&amp;l=col12&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
